body {
  background-color: #565656;
}

@keyframes lefttoright {
  0% {transform: translate(-400px, 0px);}
  25% {transform: translate(800px, 200px);}
  50% {transform: translate(2000px, 0px);}
  75% {transform: translate(800px, -200px); transform: rotate(180deg);}
  100% {transform: translate(-400px, 0px);}
}

#catanimation {
  height: 100px;
  animation-name: lefttoright;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  25% {color: red; margin-left: 40%; font-size: 500%;}
  50% {color: yellow; margin-right: 40%;}
  75% {color: hotpink; margin-left: 40%; font-size: 20px;}
  100% {color: green; margin-right: 40%; transform: rotate(360deg);}
}

#h1animation {
  text-align: center;
  width: 400px;
  height: 200px;
  margin-top: 20px;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blockanimation {
  0% {transform: scale(1);}
  50% {transform: scale(4); background-color: white; box-shadow: 2px 2px 4px black;}
  100% {transform: scale(1);}
}

#pblock {
  margin-left: 50%;
  margin-top: 4px;
  width: 150px;
  height: 25px;
  background-color: red;
  animation-name: blockanimation;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-iteration-count: infinite
  ;
}

@keyframes circleanimation {
  0% {border: 1px solid black;}
  50% {border: 14px solid #6b00b2; border-radius: 0; filter: blur(24px); transform: rotate(360deg);}
  100% {border: 1px solid black;}
}

#pcircle {
  margin-left: 50%;
  margin-top: 2px;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border-radius: 50%;
  animation-name: circleanimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes squareanimation {
  0% {letter-spacing: 0px;}
  20% {letter-spacing: 20px; width: 100%;}
  40% {letter-spacing: 40px;}
  60% {letter-spacing: 60px;}
  80% {letter-spacing: 80px;}
  100% {letter-spacing: 100px; outline: #99AAf7 groove thick; transform: translate(0px, -50px);}
}

#square {
  width: 200px;
  height: 100px;
  margin-top: 2px;
  background-color: #0e004f;
  color: white;
  font-size: 2em;
  animation-name: squareanimation;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

#squaretwo {
  width: 800px;
  height: 20px;
  background-color: #510072;
  animation-name: squareanimation;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

#backgroundsquare {
  width: 50px;
  height: 50px;
  background-color: #7a0047;
  margin-left: 50%;
  animation-name: circleanimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

#squarethree {
  height: 4px;
  width: 400px;
  margin-left: 35%;
  background-color: green;
  animation-name: blockanimation;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}