* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(247, 247, 223);
}

header {
  background-image: url("../resource/skulls.png");
  text-align: center;
  padding: 3%;
  box-shadow: 1px 1px 1px lightgray;
}

nav {
  text-align: center;
  width: 100%;
  height: 30px;
}

.navlinks {
  font-size: 1.2em;
 /* outline: solid gray 1px; */
  position: relative;
  box-shadow: 2px 2px 2px lightgray;
  top: 4px;
}

h1 {
  font-family: sans-serif;
  text-shadow: 2px 2px 1px lightgray;
}

h2 {
  text-align: center;
  float: both;
 /* font-size: 1.5vw; */
}

li {
  margin-left: 30%;
}

.ingredients {
  background-image: url("../resource/skulls.png");
  /*overflow: auto;*/
  position: relative;
  /*max-width: 20%;*/
  margin-top: 10%;
  float: left;
  padding: 1em;
  box-shadow: 1px 1px 1px lightgray;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1em;
  }

  ul {
    font-size: 0.8em;
  }

  li {
    margin: 0px 45%;
  }

.ingredients {
  float: none;
}

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    h2 {
    font-size: 1em;
  }

  ul {
    font-size: 0.8em;
  }

  li {
    margin: 0px 45%;
  }

.ingredients {
  float: none;
}
}