* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
main {
 display: flex;
}

article {
  margin: auto;
}

.recipe__image {
  border-radius: 10px;
  margin-top: 6%;
  box-shadow: 1px 1px 1px lightgray;
}

#loading__gif {
  visibility: hidden;
  float: left;
  width: 15%;
}

body {
  background-color: rgb(247, 247, 223);
}

header {
  background-image: url("../resource/skulls.png");
  text-align: center;
  padding: 2%;
  box-shadow: 1px 1px 1px lightgray;
}

nav {
  text-align: center;
  width: 100%;
  height: 30px;
}

ul {
  list-style: none;
  font-size: 1.2em;
}

.navlinks {
  font-size: 1.2em;
 /* outline: solid gray 1px; */
  position: relative;
  /*box-shadow: 2px 2px 2px lightgray;*/
  top: 4px;
}

#numberInput {
  width: 100%;
}

h1 {
  font-family: sans-serif;
  text-shadow: 2px 2px 1px lightgray;
}

h2 {
  margin-left: 25%;
 /* font-size: 1.5vw; */
}

h4 {
  /*text-align: left;*/
  font-size: 1.2em;
  margin-left: 12px;

}

li {
  padding: 2px;
  font-size: 1em;
}

.rating {
  text-align: center;
}

#rating__header {
  font-size: 1.4em;
  margin-top: 4px;
  margin-left: 45%;
}

.rating {
  margin-right: 42%;
}

/* Star-rating style taken from https://css-tricks.com/star-ratings/ */
.stars {
  color: goldenrod;
  font-size: 2em;
}

.stars__div {
  margin-left: 38%;
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}

.stars__div > span:hover:before,
.stars__div > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

.steps {
  margin-left: 20px;
  font-size: 1em;
}

#ingredients__header {
  margin-left: auto;
}

#rating__header {
  margin-left: 25%;
}

.ingredients {
  background-image: url("../resource/skulls.png");
  /*overflow: auto;*/
  position: relative;
  margin-top: 2%;
  padding: 14px;
  float: left;
  box-shadow: 1px 1px 1px lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: auto;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1.2em;
  }

  h4 {
    text-align: center;
    font-size: 1.2em;
  }

  ul {
    font-size: 1em;
  }

  li {
    padding: 1px;
    text-align: center;
    font-size: 1.2em;
  }

  main {
    display: inline-block;
  }

  #numberInput {
    width: 20%;
    margin-left: 40%;
  }

  .recipe__imagebox {
    width: 80%;
    margin: auto;
  }

  .recipe__image {
    width: 100%;
    margin: 0px;
  }

  .steps {
    float: none;
    width: auto;
    margin-top: 0px;
    margin-left: 40px;
    font-size: 0.9em;
  }

#ingredients__header {
  text-align: center;
}

  .ingredients {
    float: none;
    width: auto;
    height: 10%;
    margin-top: 0px;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  h2 {
    font-size: 1.2em;
  }

  h4 {
    text-align: center;
    font-size: 1.2em;
  }

  ul {
    font-size: 1em;
  }

  li {
    padding: 1px;
    text-align: center;
    font-size: 1.2em;
  }

  main {
    display: inline-block;
  }

    #numberInput {
    width: 20%;
    margin-left: 40%;
  }

  .recipe__imagebox {
    width: 80%;
    margin: auto;
  }

  .recipe__image {
    width: 100%;
    margin: 0px;
  }

  .steps {
    float: none;
    width: auto;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 0.9em;
  }

  #ingredients__header {
  text-align: center;
}

  .ingredients {
    float: none;
    width: auto;
    margin-top: 0px;
  }

}