* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
main {
 display: flex;
}

article {
  margin: auto;
}

.recipe__image {
  border-radius: 10px;
  margin-top: 6%;
  box-shadow: 1px 1px 1px lightgray;
}

body {
  background-color: rgb(247, 247, 223);
}

header {
  background-image: url("../resource/skulls.png");
  text-align: center;
  padding: 3%;
  box-shadow: 1px 1px 1px lightgray;
}

nav {
  text-align: center;
  width: 100%;
  height: 30px;
}

ul {
  list-style: none;
  font-size: 1.2em;
}

.navlinks {
  font-size: 1.2em;
 /* outline: solid gray 1px; */
  position: relative;
  /*box-shadow: 2px 2px 2px lightgray;*/
  top: 4px;
}

h1 {
  font-family: sans-serif;
  text-shadow: 2px 2px 1px lightgray;
}

h2 {
  text-align: center;
  float: both;
 /* font-size: 1.5vw; */
}

h4 {
  /*text-align: left;*/
  font-size: 1.2em;
  margin-left: 12px;

}

li {
  padding: 2px;
  font-size: 1em;
}

.steps {
  margin-left: 30px;
  font-size: 1em;
}

.ingredients {
  background-image: url("../resource/skulls.png");
  /*overflow: auto;*/
  position: relative;
  margin-top: 4%;
  padding: 14px;
  float: left;
  box-shadow: 1px 1px 1px lightgray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 28em;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 1.2em;
  }

  h4 {
    text-align: center;
    font-size: 1.2em;
  }

  ul {
    font-size: 1em;
  }

  li {
    padding: 1px;
    text-align: center;
    font-size: 1.2em;
  }

  main {
    display: inline-block;
  }

  .recipe__imagebox {
    width: 80%;
    margin: auto;
  }

  .recipe__image {
    width: 100%;
    margin: 0px;
  }

  .steps {
    float: none;
    width: auto;
    margin-top: 0px;
    font-size: 0.9em;
  }

  .ingredients {
    float: none;
    width: auto;
    height: 10%;
    margin-top: 0px;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  h2 {
    font-size: 1.2em;
  }

  h4 {
    text-align: center;
    font-size: 1.2em;
  }

  ul {
    font-size: 1em;
  }

  li {
    padding: 1px;
    text-align: center;
    font-size: 1.2em;
  }

  main {
    display: inline-block;
  }

  .recipe__imagebox {
    width: 80%;
    margin: auto;
  }

  .recipe__image {
    width: 100%;
    margin: 0px;
  }

  .steps {
    float: none;
    width: auto;
    margin-top: 0px;
    font-size: 0.9em;
  }

  .ingredients {
    float: none;
    width: auto;
    margin-top: 0px;
  }
}