* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f4f8ff;
}

header {
  font-family: sans-serif;
  color: white;
  text-shadow: 0.5px 0.5px 3px black;
  background-color: #d8efff;
  margin-left: 8px;
  margin-top: 8px;
  height: 70px;
  border: 1px solid #c0c0c0;
  box-shadow: 0.5px 0.5px 3px black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.headerText {
  margin-left: 5px;
  margin-top: 4px;
}

aside {
  background-color: #d8efff;
  display: inline-block;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  height: 500px;
  width: 140px;
  border: 1px solid #c0c0c0;
  box-shadow: 0.5px 0.5px 3px black;
  border-radius: 4px;
}

.navLinks {
  margin-left: 4px;
}

h3 {
  color: black;
  text-shadow: 0.7px 0.7px 4px gray;
  text-align: center;
}

li:hover {
  box-shadow: 1px 1px 2px #c0c0c0;
}

li {
  margin-bottom: 2px;
  list-style: none;
}

.sideImage {
  max-width: 50px;
  margin-left: 88px;
  margin-top: 2px;
  border-radius: 4px;
}

main {
  display: inline-block;
  position: absolute;
  float: right;
  margin-top: 4px;
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 10px;
  width: 70%;
}

.mainImage {
  margin: 0px;
  border-radius: 4px;
}

footer {
  width: 100%;
  height: 22px;
  background-color: #d8efff;
  box-shadow: 0.5px 0.5px 3px black;
  border: 1px solid #c0c0c0;
  margin-left: 8px;
  margin-top: 10px;
  position: fixed;
  bottom: 0px;
  border-top-left-radius: 4px;
}

.footerLinks {
  margin-left: 4px;
  color: #c0c0c0;
}